#header {
  background: #FFF;
  height: 40px;

  .header-wrap {
    height:40px;
  }
  .head-bd {
    height:40px;
    .logo{
      height:40px;
    }
    .nav {
      li{
        height:40px;
        color:#009946;
        
      }
    }
  }
}